{% extends "admin/base.html" %}
{% load static %}

{% block title %}Solofor Yönetim{% endblock %}

{% block branding %}
<div id="branding" class="branding-container">
    <img src="https://solofor.com/_next/image?url=%2Fimages%2Flogo%2Flogo_01.png&w=640&q=75"
         alt="Solofor Logo"
         class="branding-logo">
    <h1 id="site-name" class="branding-title">Yönetim Paneli</h1>
</div>
{% endblock %}

{% block nav-global %}
{{ block.super }}
<ul class="nav-global-list">
  <li class="nav-global-item">
    <a href="{% url 'admin:docs' %}" class="nav-global-link">Dokümantasyon</a>
  </li>
</ul>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_custom.css' %}">
{% endblock %}
